In [1]:
#STUDENT GRADE ANALYZER
#global student
student = {} #dictionary to store students grades

def add_grade(name,grade):
    student[name]=grade
    
    def grade_letter(grade):
        # A = 70
        # B = 60 - 69
        # C = 50 - 59
        # D = 40 - 49
        # E = 30 - 39
        # F =  0 - 29
        if grade >= 70:
            return 'A'
        elif grade >= 60 and grade <= 69:
            return 'B'
        elif grade >= 50 and grade <= 59:
            return 'C'
        elif grade >= 40 and grade <= 49:
            return 'D'
        elif grade >= 30 and grade <= 39:
            return 'E'
        elif grade >=0 and grade <= 29:
            return 'F'
        return
    
    if grade is None:
        print("invalid grade")
    else:
        print(f"{name},{grade},({grade_letter(grade)})")
    return

In [2]:
add_grade('Lisa', 50)
add_grade('Ada', 60)
add_grade('Ada', 70)
add_grade('Jerry', 20)
add_grade('Chuks', 22)
add_grade('Tom', 70)
add_grade('Tom', 50)
add_grade('Fingesi', 35)
add_grade('Chioma', 45)
add_grade('Mmesoma',45)
add_grade('Chisom', 55)
add_grade('Chisom', 20)
add_grade('First', 66)
add_grade('First', 70)
add_grade('First', 45)
add_grade('Favour', 70)
add_grade('Favour', 37)
add_grade('Harry', 54)
add_grade('Harry', 45)
add_grade('Harry', 50)

Lisa,50,(C)
Ada,60,(B)
Ada,70,(A)
Jerry,20,(F)
Chuks,22,(F)
Tom,70,(A)
Tom,50,(C)
Fingesi,35,(E)
Chioma,45,(D)
Mmesoma,45,(D)
Chisom,55,(C)
Chisom,20,(F)
First,66,(B)
First,70,(A)
First,45,(D)
Favour,70,(A)
Favour,37,(E)
Harry,54,(C)
Harry,45,(D)
Harry,50,(C)

In [3]:
#def average():
print(student)

{'Lisa': 50, 'Ada': 70, 'Jerry': 20, 'Chuks': 22, 'Tom': 50, 'Fingesi': 35, 'Chioma': 45, 'Mmesoma': 45, 'Chisom': 20, 'First': 45, 'Favour': 37, 'Harry': 50}

In [4]:
values = student.values()
values = list(values)

In [5]:
type(values)

list

In [6]:
values

[50, 70, 20, 22, 50, 35, 45, 45, 20, 45, 37, 50]

In [7]:
length = len(values)
length

12

In [8]:
def average():
    total_average = sum(values)/length
    print(f"average grade of all student is {total_average}")
    return
    

average()

average grade of all student is 40.75

In [9]:
def highest_lowest_value():
    highest_value = max(values)
    lowest_value = min(values)
    print(f"The highest value is {highest_value}")
    print(f"The lowest value is {lowest_value}")
    return

highest_lowest_value()

The highest value is 70
The lowest value is 20

In [10]:
def add_grade(name,grade):
    student[name]=grade
    
    def grade_letter(grade):
        # A = 70
        # B = 60 - 69
        # C = 50 - 59
        # D = 40 - 49
        # E = 30 - 39
        # F =  0 - 29
        if grade >= 70:
            return 'A'
        elif grade >= 60 and grade <= 69:
            return 'B'
        elif grade >= 50 and grade <= 59:
            return 'C'
        elif grade >= 40 and grade <= 49:
            return 'D'
        elif grade >= 30 and grade <= 39:
            return 'E'
        elif grade >=0 and grade <= 29:
            return 'F'
        return
    
    if grade is None:
        print("invalid grade")
    else:
        print(f"{name},{grade},({grade_letter(grade)})")
    return

In [11]:
add_grade('Lisa', 50)
add_grade('Ada', 60)
add_grade('Ada', 70)
add_grade('Jerry', 20)
add_grade('Chuks', 22)
add_grade('Tom', 70)
add_grade('Tom', 50)
add_grade('Fingesi', 35)
add_grade('Chioma', 45)
add_grade('Mmesoma',45)
add_grade('Chisom', 55)
add_grade('Chisom', 20)
add_grade('First', 66)
add_grade('First', 70)
add_grade('First', 45)
add_grade('Favour', 70)
add_grade('Favour', 37)
add_grade('Harry', 54)
add_grade('Harry', 45)
add_grade('Harry', 50)

Lisa,50,(C)
Ada,60,(B)
Ada,70,(A)
Jerry,20,(F)
Chuks,22,(F)
Tom,70,(A)
Tom,50,(C)
Fingesi,35,(E)
Chioma,45,(D)
Mmesoma,45,(D)
Chisom,55,(C)
Chisom,20,(F)
First,66,(B)
First,70,(A)
First,45,(D)
Favour,70,(A)
Favour,37,(E)
Harry,54,(C)
Harry,45,(D)
Harry,50,(C)